.profile {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 30px;
    justify-content: center;
    background-color: #FAFAFA;
}

.profile__title {
    text-align: center;
    margin: 70px 0 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.profile__form {
    margin: 0 auto;
    max-width: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.profile__input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 1px solid #e8e8e8;
    outline: none;
}

.profile__input-box:last-of-type {
    margin-bottom: 375px;
    border-bottom: none;
    padding: 0;
}

.profile__input-name {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__field-name {
    border: none;
    display: flex;
    outline: none;
    text-align: end;
    font-size: 11px;
    line-height: 13px;
    background-color: inherit;
}

.profile__input-email {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__field-email {
    border: none;
    display: flex;
    outline: none;
    text-align: end;
    font-size: 11px;
    line-height: 13px;
    background-color: inherit;
}

.profile__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}

.profile__link {
    border: none;
    background: transparent;
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 16px;
    align-items: center;
}

.profile__link_disabled{
    color: #c2c2c2;
    pointer-events: none;
}

.profile__link_exit {
    color: #EE3465;
}
.profile__link:hover {
    opacity: .6;
}

.profile__input-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ee3465;
    display: block;
    margin-top: 5px;
    min-height: 20px;
    pointer-events: none;
}

@media (min-width: 768px) {
    .profile__title {
        margin: 236px 0 96px;
    }

    .profile__form {
        max-width: 410px;
    }

    .profile__input-box:last-of-type {
        margin-bottom: 210px;
    }
}

@media (min-width: 1280px) {
    .profile__title {
        margin: 74px 0 123px;
    }

    .profile__input-box:last-of-type {
        margin-bottom: 220px;
    }
}
