.saved-movies{
    width: 100%;
    margin: 0 auto;
    padding: 0 0 210px;
    background-color: #FAFAFA;
}

.saved-movies__error {
    display: flex;
    justify-content: center;
    color: #ee3465;
    padding-top: 70px;
    padding-bottom: 20px;
}
