.saved-movie-card {
    list-style-type: none;
    box-shadow: 0 4px 30px rgb(0 0 0 / 8%);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

.saved-movie-card__img {
    width: 300px;
}

.saved-movie-card__container {
    display: flex;
    position: relative;
}

.saved-movie-card__info {
    margin: 12px 0 0;
    width: 100%;
}

.saved-movie-card__name {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 0 16px;
}

.saved-movie-card__time {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin: 14px;
}

.saved-movie-card__delete {
    background-image: url(../../images/delete.svg);
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 36px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: inherit;
    margin-right: 12px;
    opacity: 0;
}

.saved-movie-card__delete:hover {
    opacity: 1;
}

@media (min-width: 768px) {
    .saved-movie-card__img {
        width: 339px;
    }
}

@media (min-width: 1280px) {
    .saved-movie-card__img {
        width: 100%;
    }
    .saved-movie-card__info {
        margin: 16px 0 0;
    }

    .saved-movie-card__name {
        font-size: 13px;
        line-height: 16px;
    }

    .saved-movie-card__time {
        font-size: 11px;
        line-height: 13px;
        margin: 15px;
    }
}
